/*==========================================
    normalize
==========================================*/

html {
    font-family: $body-font;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    overflow-x: hidden;
}

body {
    font-family: $body-font;
    font-size: $base-font-size;
    margin: 0;
    color: $descr-color;
    overflow-x: hidden;
}

// Typography
h1, h2, h3, h4, h5, h6, a {
    line-height: 1.3;
    font-family: $heading-font;
}

p {
    line-height: 1.6;
}

a {
    color: $heading-color;
    text-decoration: none;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a i {
    padding: 0 2px;
}

img {
    max-width: 100%;
}

/*input and button type focus outline disable*/

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
select:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #ddd;
}

/**
 * 5.0 - Alignments
 */

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto 1.75em;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}